@model blogs.Models.Tag
<h1>EDIT TAGS</h1>

<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">NAME</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="name">
    </div>

    <button type="submit" class="btn btn-primary">EDIT</button>
</form>