@model blogs.Models.blogg;
<h1>edit blogs</h1>
<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">NAME</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="title">
    </div>

    <button type="submit" class="btn btn-primary">EDIT</button>
</form>